[Desktop Entry]
NoDisplay=false
Name=GooglePlayDownloader
Comment=GooglePlayDownloader
Icon=googleplaydownloader
Exec=python2 /opt/googleplaydownloader/googleplaydownloader.py
Terminal=false
Type=Application
Categories=Utility;
